<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
   <extension point="org.knime.workbench.repository.categories">
      <category after="property" description="Views with Charts From JFreeChart" icon="icons/category.gif" level-id="jfreechart" name="JFreeChart" path="/view"/>
   </extension> 
   <extension point="org.knime.workbench.repository.nodes">
     
      <node category-path="/view/jfreechart" factory-class="org.knime.ext.jfc.node.piechart.JfcPieChartNodeFactory" id="org.knime.ext.jfc.node.piechart.JfcPieChartNodeFactory">
      </node>
      <node category-path="/view/jfreechart" factory-class="org.knime.ext.jfc.node.histogram.JfcHistogramChartNodeFactory" id="org.knime.ext.jfc.node.histogram.JfcHistogramChartNodeFactory">
      </node>
      <node category-path="/view/jfreechart" factory-class="org.knime.ext.jfc.node.barchart.JfcBarChartNodeFactory" id="org.knime.ext.jfc.node.barchart.JfcBarChartNodeFactory">
      </node>
      <node category-path="/view/jfreechart" factory-class="org.knime.ext.jfc.node.scatterplot.bubble.JfcBubbleChartNodeFactory" id="org.knime.ext.jfc.node.scatterplot.bubble.JfcBubbleChartNodeFactory">
      </node>
      <node category-path="/view/jfreechart" factory-class="org.knime.ext.jfc.node.scatterplot.JfcScatterPlotNodeFactory" id="org.knime.ext.jfc.node.scatterplot.JfcScatterPlotNodeFactory">
      </node>
      <node category-path="/view/jfreechart" factory-class="org.knime.ext.jfc.node.intervalchart.JfcIntervalChartNodeFactory" id="org.knime.ext.jfc.node.intervalchart.JfcIntervalChartNodeFactory">
      </node>
      <node category-path="/view/jfreechart" factory-class="org.knime.ext.jfc.node.groupbarchart.JfcGroupBarChartNodeFactory" id="org.knime.ext.jfc.node.groupbarchart.JfcGroupBarChartNodeFactory">
      </node>
        <node category-path="/view/jfreechart" factory-class="org.knime.ext.jfc.node.heatmap.JfcHeatMapNodeFactory" id="org.knime.ext.jfc.node.heatmap.JfcHeatMapNodeFactory">      
       </node>
        <node category-path="/view/jfreechart" factory-class="org.knime.ext.jfc.node.linechart.JfcLineChartColoredNodeFactory" id="org.knime.ext.jfc.node.linechart.JfcLineChartColoredNodeFactory">
        </node>              
   </extension>
  
   

<extension point="org.eclipse.help.toc">
<toc extradir="html" file="tocs/view_jfreechart.xml"/>
<toc extradir="html" file="tocs/view_jfreechart$nodes.xml"/>
</extension>
</plugin>
