<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
   	<extension point="org.knime.workbench.repository.nodes">
   		<node category-path="/scripting/python" factory-class="org.knime.python.nodes.variables.PythonVariablesNodeFactory" id="org.knime.python.nodes.variables.PythonVariablesNodeFactory"/>
   		<node after="org.knime.python.nodes.variables.PythonVariablesNodeFactory" category-path="/scripting/python" factory-class="org.knime.python.nodes.source.PythonSourceNodeFactory" id="org.knime.python.nodes.source.PythonSourceNodeFactory"/>
   		<node after="org.knime.python.nodes.source.PythonSourceNodeFactory" category-path="/scripting/python" factory-class="org.knime.python.nodes.script.PythonScriptNodeFactory" id="org.knime.python.nodes.script.PythonScriptNodeFactory"/>
   		<node after="org.knime.python.nodes.script.PythonScriptNodeFactory" category-path="/scripting/python" factory-class="org.knime.python.nodes.script2in1out.PythonScript2In1OutNodeFactory" id="org.knime.python.nodes.script2in1out.PythonScript2In1OutNodeFactory"/>
   		<node after="org.knime.python.nodes.script2in1out.PythonScript2In1OutNodeFactory" category-path="/scripting/python" factory-class="org.knime.python.nodes.view.PythonViewNodeFactory" id="org.knime.python.nodes.view.PythonViewNodeFactory"/>
   		<node after="org.knime.python.nodes.view.PythonViewNodeFactory" category-path="/scripting/python" factory-class="org.knime.python.nodes.objectreader.PythonObjectReaderNodeFactory" id="org.knime.python.nodes.objectreader.PythonObjectReaderNodeFactory"/>
   		<node after="org.knime.python.nodes.objectreader.PythonObjectReaderNodeFactory" category-path="/scripting/python" factory-class="org.knime.python.nodes.objectwriter.PythonObjectWriterNodeFactory" id="org.knime.python.nodes.objectwriter.PythonObjectWriterNodeFactory"/>
   		<node after="org.knime.python.nodes.objectwriter.PythonObjectWriterNodeFactory" category-path="/scripting/python" factory-class="org.knime.python.nodes.learner.PythonLearnerNodeFactory" id="org.knime.python.nodes.learner.PythonLearnerNodeFactory"/>
   		<node after="org.knime.python.nodes.learner.PythonLearnerNodeFactory" category-path="/scripting/python" factory-class="org.knime.python.nodes.predictor.PythonPredictorNodeFactory" id="org.knime.python.nodes.predictor.PythonPredictorNodeFactory"/>
        <node category-path="/scripting/python" factory-class="org.knime.python.nodes.db.PythonScriptDBNodeFactory" id="org.knime.python.nodes.db.PythonScriptDBNodeFactory"/>
	</extension>
	<extension point="org.knime.workbench.repository.categories">
      	<category description="Python nodes" icon="icons/python.png" level-id="python" name="Python" path="/scripting"/>
   	</extension>
     <extension point="org.knime.workbench.repository.registeredFileExtensions">
        <FileExtensionMapping NodeFactory="org.knime.python.nodes.objectreader.PythonObjectReaderNodeFactory">
           <FileExtension extension=".pkl">
           </FileExtension>
        </FileExtensionMapping>
     </extension>
     <extension point="org.knime.python.sourcecodetemplates">
        <directory path="templates/">
        </directory>
     </extension>
<extension point="org.eclipse.help.toc">
<toc extradir="html" file="tocs/scripting_python.xml"/>
<toc extradir="html" file="tocs/scripting_python$nodes.xml"/>
</extension>
</plugin>
