<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.2"?><plugin>
   <extension-point id="JungGraphLayout" name="JungGraphLayout" schema="schema/JungGraphLayout.exsd"/>
   <extension-point id="DomainCreator" name="DomainCreator" schema="schema/DomainCreator.exsd"/>
   <extension-point id="EdgeCreator" name="EdgeCreator" schema="schema/EdgeCreator.exsd"/>
   <extension-point id="NodeSelector" name="NodeSelector" schema="schema/NodeSelector.exsd"/>
   <extension point="org.knime.workbench.repository.categories">
      <category icon="icons/network.png" level-id="network" name="Network" path="/applications">
      </category>
      <category description="Nodes to create, read and write networks" icon="icons/io.png" level-id="io" name="IO" path="/applications/network">
      </category>
      <category after="io" description="Nodes to filter a network" icon="icons/filter.png" level-id="filter" name="Filter" path="/applications/network">
      </category>
      <category description="Nodes to create matrizes from a network or to create a network from a matrix" icon="icons/matrix.png" level-id="matrix" name="Matrix" path="/applications/network/convert">
      </category>
      <category description="Nodes to create data tables with network information" icon="icons/table.png" level-id="table" name="Table" path="/applications/network/convert">
      </category>
      <category after="io" description="Nodes for type conversion" icon="icons/convert.png" level-id="convert" name="Convert" path="/applications/network">
      </category>
      <category description="Contains nodes for file writing and reading" icon="icons/file.png" level-id="file" name="File" path="/applications/network/io">
      </category>
      <category description="Nodes for analysing networks" icon="icons/analyze.png" level-id="mining" name="Mining" path="/applications/network">
      </category>
      <category description="Nodes to visualize a network" icon="icons/visualization.png" level-id="viz" name="Visualization" path="/applications/network">
      </category>
   </extension>
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/applications/network/io" factory-class="org.knime.network.node.io.creator.NetworkCreatorNodeFactory">
      </node>
      <node category-path="/applications/network/io" factory-class="org.knime.network.node.inserter.object.ObjectInserterNodeFactory">
      </node>
      <node category-path="/applications/network/filter" factory-class="org.knime.network.node.filter.degree.NodeDegreeFilterNodeFactory">
      </node>
      <node category-path="/applications/network/convert/table" factory-class="org.knime.network.node.io.nodetable.NodeTableWriterNodeFactory">
      </node>
      <node category-path="/applications/network/filter" factory-class="org.knime.network.node.filter.weight.EdgeWeightFilterNodeFactory">
      </node>
      <node category-path="/applications/network/filter" factory-class="org.knime.network.node.filter.degree.EdgeDegreeFilterNodeFactory">
      </node>
      <node category-path="/applications/network/filter" factory-class="org.knime.network.node.filter.nodename.NodeNameFilterNodeFactory">
      </node>
      <node category-path="/applications/network/io/file" factory-class="org.knime.network.node.io.beef.BeefFileReaderNodeFactory">
      </node>
      <node category-path="/applications/network/convert/matrix" factory-class="org.knime.network.node.io.matrix.incidence.IncidenceMatrixNodeFactory">
      </node>
      <node category-path="/applications/network/convert/table" factory-class="org.knime.network.node.io.featuretable.FeatureTableNodeFactory">
      </node>
      <node category-path="/applications/network/io" factory-class="org.knime.network.node.inserter.feature.FeatureInserterNodeFactory">
      </node>
      <node category-path="/applications/network/mining" factory-class="org.knime.network.node.analysis.network.NetworkAnalyzerNodeFactory">
      </node>
      <node category-path="/applications/network/filter" factory-class="org.knime.network.node.filter.featurevalue.FeatureValueFilterNodeFactory">
      </node>
      <node category-path="/applications/network/io/file" factory-class="org.knime.network.node.io.reader.NetworkReaderNodeFactory">
      </node>
      <node category-path="/applications/network/io/file" factory-class="org.knime.network.node.io.writer.NetworkWriterNodeFactory">
      </node>
      <node category-path="/applications/network/convert/table" factory-class="org.knime.network.node.io.edgetable.EdgeTableWriterNodeFactory">
      </node>
      <node category-path="/applications/network/convert/matrix" factory-class="org.knime.network.node.io.matrix.adjacency.node.NodeAdjacencyMatrixNodeFactory">
      </node>
      <node category-path="/applications/network/convert/matrix" factory-class="org.knime.network.node.io.matrix.adjacency.edge.EdgeAdjacencyMatrixNodeFactory">
      </node>
      <node category-path="/applications/network/convert/matrix" factory-class="org.knime.network.node.io.matrix.adjacency.laplacian.LaplacianMatrixNodeFactory">
      </node>
      <node category-path="/applications/network/filter" factory-class="org.knime.network.node.filter.featurelist.FeatureListFilterNodeFactory">
      </node>
      <node category-path="/applications/network/convert/matrix" factory-class="org.knime.network.node.io.matrix.reader.Matrix2NetworkNodeFactory">
      </node>
      <node category-path="/applications/network/filter" factory-class="org.knime.network.node.filter.partition.PartitionFilterNodeFactory">
      </node>
      <node category-path="/applications/network/io" factory-class="org.knime.network.node.partition.assign.AssignPartitionNodeFactory">
      </node>
      <node category-path="/applications/network/convert" factory-class="org.knime.network.node.converter.cell.Network2RowNodeFactory">
      </node>
      <node category-path="/applications/network/convert" factory-class="org.knime.network.node.converter.cell.Row2NetworkNodeFactory">
      </node>
      <node category-path="/applications/network" factory-class="org.knime.network.node.generator.NetworkGeneratorNodeFactory">
      </node>
      <node category-path="/applications/network/mining" factory-class="org.knime.network.node.partition.graph.PartitionGraphNodeFactory">
      </node>
      <node category-path="//applications/network/convert/table" factory-class="org.knime.network.node.io.partitiontable.PartitionTableNodeFactory">
      </node>
      <node category-path="/applications/network/convert" factory-class="org.knime.network.node.converter.subgraph.SubGraphExtractorNodeFactory">
      </node>
      <node category-path="/applications/network/convert" factory-class="org.knime.network.node.analysis.feature.NetworkFeatureExtractorNodeFactory">
      </node>
      <node category-path="/applications/network/filter" factory-class="org.knime.network.node.filter.neighbor.NeighborFilterNodeFactory">
      </node>
      <node category-path="/applications/network/convert/table" factory-class="org.knime.network.node.converter.nodeneighborextractor.NodeNeighborExtractorNodeFactory">
      </node>
      <node category-path="/applications/network/filter" factory-class="org.knime.network.node.filter.feature.FeatureFilterNodeFactory">
      </node>
      <node category-path="/applications/network/viz/" factory-class="org.knime.network.node.viz.input.VizInputConnectorNodeFactory">
      </node>
      <node category-path="/applications/network/viz/" factory-class="org.knime.network.node.viz.output.VizOutputConnectorNodeFactory">
      </node>
      <node category-path="/applications/network/viz/" factory-class="org.knime.network.node.viz.viewer.NetworkViewerNodeFactory">
      </node>
      <node category-path="/applications/network/filter" factory-class="org.knime.network.node.filter.id.ObjectIdFilterNodeFactory">
      </node>
      <node category-path="/applications/network/mining" factory-class="org.knime.network.node.analysis.shortestpath.ShortestPathNodeFactory">
      </node>
      <node category-path="/applications/network/viz/" factory-class="org.knime.base.node.viz.property.extractor.VizPropertyExtractorNodeFactory">
      </node>
      <node category-path="/applications/network/io" factory-class="org.knime.network.node.inserter.feature.MultiFeatureInserterNodeFactory">
      </node>
      <node category-path="/applications/network/mining" factory-class="org.knime.network.node.analysis.hierarchy.HierarchyExtractorNodeFactory">
      </node>
   </extension>
   <extension point="org.knime.workbench.repository.registeredFileExtensions">
      <FileExtensionMapping NodeFactory="org.knime.network.node.io.reader.NetworkReaderNodeFactory">
         <FileExtension extension=".beef">
         </FileExtension>
         <FileExtension extension=".beef.zip">
         </FileExtension>
         <FileExtension extension=".knet">
         </FileExtension>
      </FileExtensionMapping>
   </extension>
   <extension point="org.knime.network.core.FeatureType">
      <FeatureType FeatureType="org.knime.network.core.core.feature.FeatureTypeSVGImage">
      </FeatureType>
      <FeatureType FeatureType="org.knime.network.core.core.feature.FeatureTypeSDF">
      </FeatureType>
      <FeatureType FeatureType="org.knime.network.core.core.feature.FeatureTypeColor">
      </FeatureType>
      <FeatureType FeatureType="org.knime.network.core.core.feature.FeatureTypeShape">
      </FeatureType>
   </extension>
   <extension point="org.knime.network.core.AnalyzerType">
      <NetworkAnalyzer AnalyzerType="org.knime.network.core.analyzer.node.jung.HITSAnalyzerType">
      </NetworkAnalyzer>
      <NetworkAnalyzer AnalyzerType="org.knime.network.core.analyzer.node.jung.BarycenterAnalyzerType">
      </NetworkAnalyzer>
   </extension>
   <extension point="org.knime.base.AggregationOperator">
      <AggregationOperator AggregationOperator="org.knime.network.aggregation.NetworkMergerAggregationOperator">
      </AggregationOperator>
   </extension>
   <extension point="org.knime.core.DataType">
      <DataType cellClass="org.knime.core.data.def.ColorCell">
         <serializer cellClass="org.knime.core.data.def.ColorCell" serializerClass="org.knime.core.data.def.ColorCell$ColorSerializer">
         </serializer>
      </DataType>
      <DataType cellClass="org.knime.core.data.def.ShapeCell">
         <serializer cellClass="org.knime.core.data.def.ShapeCell" serializerClass="org.knime.core.data.def.ShapeCell$ShapeSerializer">
         </serializer>
      </DataType>
   </extension>
<extension point="org.eclipse.help.toc">
<toc extradir="html" file="tocs/applications_network_io_file.xml"/>
<toc extradir="html" file="tocs/applications_network_io_file$nodes.xml"/>
<toc extradir="html" file="tocs/applications_network_io.xml"/>
<toc extradir="html" file="tocs/applications_network_io$nodes.xml"/>
<toc extradir="html" file="tocs/applications_network_convert_matrix.xml"/>
<toc extradir="html" file="tocs/applications_network_convert_matrix$nodes.xml"/>
<toc extradir="html" file="tocs/applications_network_convert_table.xml"/>
<toc extradir="html" file="tocs/applications_network_convert_table$nodes.xml"/>
<toc extradir="html" file="tocs/applications_network_convert.xml"/>
<toc extradir="html" file="tocs/applications_network_convert$nodes.xml"/>
<toc extradir="html" file="tocs/applications_network_filter.xml"/>
<toc extradir="html" file="tocs/applications_network_filter$nodes.xml"/>
<toc extradir="html" file="tocs/applications_network_mining.xml"/>
<toc extradir="html" file="tocs/applications_network_mining$nodes.xml"/>
<toc extradir="html" file="tocs/applications_network_viz.xml"/>
<toc extradir="html" file="tocs/applications_network_viz$nodes.xml"/>
<toc extradir="html" file="tocs/applications_network.xml"/>
<toc extradir="html" file="tocs/applications_network$nodes.xml"/>
</extension>
</plugin>
