<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
         point="org.knime.workbench.repository.nodes">
      <node
            factory-class="org.knime.database.connectors.sqlite.SQLiteConnectorNodeFactory"
            category-path="/database/database-connector"/>
      <node
            factory-class="org.knime.database.connectors.mysql.MySQLConnectorNodeFactory"
            category-path="/database/database-connector"/>
      <node
            factory-class="org.knime.database.connectors.postgresql.PostgreSQLConnectorNodeFactory"
            category-path="/database/database-connector"/>
      <node
            category-path="/database/database-connector"
            factory-class="org.knime.database.connectors.h2.H2ConnectorNodeFactory">
      </node>
    </extension>
     <extension
           point="org.knime.workbench.repository.registeredFileExtensions">
        <FileExtensionMapping
              NodeFactory="org.knime.database.connectors.sqlite.SQLiteConnectorNodeFactory">
           <FileExtension
                 extension=".sqlite">
           </FileExtension>
        </FileExtensionMapping>
     </extension>
     <extension
           point="org.knime.core.DatabaseUtility">
        <databaseUtility
              class="org.knime.database.connectors.h2.utility.H2Utility"
              database="h2">
        </databaseUtility>
        <databaseUtility
              class="org.knime.database.connectors.mysql.utility.MySQLUtility"
              database="mysql">
        </databaseUtility>
        <databaseUtility
              class="org.knime.database.connectors.sqlite.utility.SQLiteUtility"
              database="sqlite">
        </databaseUtility>
        <databaseUtility
              class="org.knime.database.connectors.postgresql.utility.PostgreSQLUtility"
              database="postgresql">
        </databaseUtility>
     </extension>
</plugin>
