<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="GraphFileFormat" name="GraphFileFormat" schema="schema/GraphFileFormat.exsd"/>
   <extension-point id="FeatureType" name="FeatureType" schema="schema/FeatureType.exsd"/>
   <extension-point id="AnalyzerType" name="AnalyzerType" schema="schema/AnalyzerType.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.network.core.knime.preferences.NetworkPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.network.core.knime.preferences.NetworkPreferencePage"
            id="org.knime.network.core.knime.preferences.NetworkPreferencePage"
            name="Network">
      </page>
   </extension>
   <extension
         point="org.knime.core.DataValueRenderer">
      <dataValue
            valueClass="org.knime.network.core.knime.cell.GraphValue">
         <renderer
               rendererFactoryClass="org.knime.network.core.knime.cell.GraphValueRenderer$Factory"
               suggestAsDefault="false">
         </renderer>
      </dataValue>
   </extension>
   <extension
         point="org.knime.core.DataType">
      <DataType
            cellClass="org.knime.network.core.knime.cell.GraphCell">
         <serializer
               cellClass="org.knime.network.core.knime.cell.GraphBlobCell"
               serializerClass="org.knime.network.core.knime.cell.GraphBlobCell$NetworkSerializer">
         </serializer>
         <serializer
               cellClass="org.knime.network.core.knime.cell.KNetGraphBlobCell"
               serializerClass="org.knime.network.core.knime.cell.KNetGraphBlobCell$NetworkSerializer">
         </serializer>
      </DataType>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#c8e632"
            hidden="true"
            name="Network"
            objectClass="org.knime.network.core.knime.port.GraphPortObject"
            objectSerializer="org.knime.network.core.knime.port.GraphPortObject$Serializer"
            specClass="org.knime.network.core.knime.port.GraphPortObjectSpec"
            specSerializer="org.knime.network.core.knime.port.GraphPortObjectSpec$Serializer">
      </portType>
   </extension>

</plugin>
