<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/analytics/mining/svm/libsvm" factory-class="org.knime.ext.libsvm.learner.LIBSVMLearnerNodeFactory" id="org.knime.ext.libsvm.LIBSVMLearnerNodeFactory"/>
      <node category-path="/analytics/mining/svm/libsvm" factory-class="org.knime.ext.libsvm.predictor.LIBSVMPredictorNodeFactory" id="org.knime.ext.libsvm.predictor.LIBSVMPredictorNodeFactory">
      </node>
   </extension>
   <extension point="org.knime.workbench.repository.categories">
      <category description="LIBSVM integration in KNIME." icon="icons/missing.gif" level-id="libsvm" name="LIBSVM" path="/analytics/mining/svm">
      </category>
   </extension>
   <extension point="org.knime.core.PortType">
      <portType hidden="true" name="LibSVM" objectClass="org.knime.ext.libsvm.port.LIBSVMPortObject" objectSerializer="org.knime.ext.libsvm.port.LIBSVMPortObject$Serializer" specClass="org.knime.ext.libsvm.port.LIBSVMPortObjectSpec" specSerializer="org.knime.ext.libsvm.port.LIBSVMPortObjectSpec$Serializer">
      </portType>
   </extension>
   
<extension point="org.eclipse.help.toc">
<toc extradir="html" file="tocs/analytics_mining_svm_libsvm.xml"/>
<toc extradir="html" file="tocs/analytics_mining_svm_libsvm$nodes.xml"/>
</extension>
</plugin>
