<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="dimensions">
<entry key="array-size" type="xint" value="4"/>
<entry key="0" type="xstring" value="price"/>
<entry key="1" type="xstring" value="age"/>
<entry key="2" type="xstring" value="horsepower"/>
<entry key="3" type="xstring" value="mileage"/>
</config>
<config key="single">
<entry key="array-size" type="xint" value="241"/>
<entry key="0" type="xbyte" value="-84"/>
<entry key="1" type="xbyte" value="-19"/>
<entry key="2" type="xbyte" value="0"/>
<entry key="3" type="xbyte" value="5"/>
<entry key="4" type="xbyte" value="115"/>
<entry key="5" type="xbyte" value="114"/>
<entry key="6" type="xbyte" value="0"/>
<entry key="7" type="xbyte" value="17"/>
<entry key="8" type="xbyte" value="106"/>
<entry key="9" type="xbyte" value="97"/>
<entry key="10" type="xbyte" value="118"/>
<entry key="11" type="xbyte" value="97"/>
<entry key="12" type="xbyte" value="46"/>
<entry key="13" type="xbyte" value="117"/>
<entry key="14" type="xbyte" value="116"/>
<entry key="15" type="xbyte" value="105"/>
<entry key="16" type="xbyte" value="108"/>
<entry key="17" type="xbyte" value="46"/>
<entry key="18" type="xbyte" value="72"/>
<entry key="19" type="xbyte" value="97"/>
<entry key="20" type="xbyte" value="115"/>
<entry key="21" type="xbyte" value="104"/>
<entry key="22" type="xbyte" value="77"/>
<entry key="23" type="xbyte" value="97"/>
<entry key="24" type="xbyte" value="112"/>
<entry key="25" type="xbyte" value="5"/>
<entry key="26" type="xbyte" value="7"/>
<entry key="27" type="xbyte" value="-38"/>
<entry key="28" type="xbyte" value="-63"/>
<entry key="29" type="xbyte" value="-61"/>
<entry key="30" type="xbyte" value="22"/>
<entry key="31" type="xbyte" value="96"/>
<entry key="32" type="xbyte" value="-47"/>
<entry key="33" type="xbyte" value="3"/>
<entry key="34" type="xbyte" value="0"/>
<entry key="35" type="xbyte" value="2"/>
<entry key="36" type="xbyte" value="70"/>
<entry key="37" type="xbyte" value="0"/>
<entry key="38" type="xbyte" value="10"/>
<entry key="39" type="xbyte" value="108"/>
<entry key="40" type="xbyte" value="111"/>
<entry key="41" type="xbyte" value="97"/>
<entry key="42" type="xbyte" value="100"/>
<entry key="43" type="xbyte" value="70"/>
<entry key="44" type="xbyte" value="97"/>
<entry key="45" type="xbyte" value="99"/>
<entry key="46" type="xbyte" value="116"/>
<entry key="47" type="xbyte" value="111"/>
<entry key="48" type="xbyte" value="114"/>
<entry key="49" type="xbyte" value="73"/>
<entry key="50" type="xbyte" value="0"/>
<entry key="51" type="xbyte" value="9"/>
<entry key="52" type="xbyte" value="116"/>
<entry key="53" type="xbyte" value="104"/>
<entry key="54" type="xbyte" value="114"/>
<entry key="55" type="xbyte" value="101"/>
<entry key="56" type="xbyte" value="115"/>
<entry key="57" type="xbyte" value="104"/>
<entry key="58" type="xbyte" value="111"/>
<entry key="59" type="xbyte" value="108"/>
<entry key="60" type="xbyte" value="100"/>
<entry key="61" type="xbyte" value="120"/>
<entry key="62" type="xbyte" value="112"/>
<entry key="63" type="xbyte" value="63"/>
<entry key="64" type="xbyte" value="64"/>
<entry key="65" type="xbyte" value="0"/>
<entry key="66" type="xbyte" value="0"/>
<entry key="67" type="xbyte" value="0"/>
<entry key="68" type="xbyte" value="0"/>
<entry key="69" type="xbyte" value="0"/>
<entry key="70" type="xbyte" value="12"/>
<entry key="71" type="xbyte" value="119"/>
<entry key="72" type="xbyte" value="8"/>
<entry key="73" type="xbyte" value="0"/>
<entry key="74" type="xbyte" value="0"/>
<entry key="75" type="xbyte" value="0"/>
<entry key="76" type="xbyte" value="16"/>
<entry key="77" type="xbyte" value="0"/>
<entry key="78" type="xbyte" value="0"/>
<entry key="79" type="xbyte" value="0"/>
<entry key="80" type="xbyte" value="4"/>
<entry key="81" type="xbyte" value="116"/>
<entry key="82" type="xbyte" value="0"/>
<entry key="83" type="xbyte" value="10"/>
<entry key="84" type="xbyte" value="104"/>
<entry key="85" type="xbyte" value="111"/>
<entry key="86" type="xbyte" value="114"/>
<entry key="87" type="xbyte" value="115"/>
<entry key="88" type="xbyte" value="101"/>
<entry key="89" type="xbyte" value="112"/>
<entry key="90" type="xbyte" value="111"/>
<entry key="91" type="xbyte" value="119"/>
<entry key="92" type="xbyte" value="101"/>
<entry key="93" type="xbyte" value="114"/>
<entry key="94" type="xbyte" value="115"/>
<entry key="95" type="xbyte" value="114"/>
<entry key="96" type="xbyte" value="0"/>
<entry key="97" type="xbyte" value="16"/>
<entry key="98" type="xbyte" value="106"/>
<entry key="99" type="xbyte" value="97"/>
<entry key="100" type="xbyte" value="118"/>
<entry key="101" type="xbyte" value="97"/>
<entry key="102" type="xbyte" value="46"/>
<entry key="103" type="xbyte" value="108"/>
<entry key="104" type="xbyte" value="97"/>
<entry key="105" type="xbyte" value="110"/>
<entry key="106" type="xbyte" value="103"/>
<entry key="107" type="xbyte" value="46"/>
<entry key="108" type="xbyte" value="68"/>
<entry key="109" type="xbyte" value="111"/>
<entry key="110" type="xbyte" value="117"/>
<entry key="111" type="xbyte" value="98"/>
<entry key="112" type="xbyte" value="108"/>
<entry key="113" type="xbyte" value="101"/>
<entry key="114" type="xbyte" value="-128"/>
<entry key="115" type="xbyte" value="-77"/>
<entry key="116" type="xbyte" value="-62"/>
<entry key="117" type="xbyte" value="74"/>
<entry key="118" type="xbyte" value="41"/>
<entry key="119" type="xbyte" value="107"/>
<entry key="120" type="xbyte" value="-5"/>
<entry key="121" type="xbyte" value="4"/>
<entry key="122" type="xbyte" value="2"/>
<entry key="123" type="xbyte" value="0"/>
<entry key="124" type="xbyte" value="1"/>
<entry key="125" type="xbyte" value="68"/>
<entry key="126" type="xbyte" value="0"/>
<entry key="127" type="xbyte" value="5"/>
<entry key="128" type="xbyte" value="118"/>
<entry key="129" type="xbyte" value="97"/>
<entry key="130" type="xbyte" value="108"/>
<entry key="131" type="xbyte" value="117"/>
<entry key="132" type="xbyte" value="101"/>
<entry key="133" type="xbyte" value="120"/>
<entry key="134" type="xbyte" value="114"/>
<entry key="135" type="xbyte" value="0"/>
<entry key="136" type="xbyte" value="16"/>
<entry key="137" type="xbyte" value="106"/>
<entry key="138" type="xbyte" value="97"/>
<entry key="139" type="xbyte" value="118"/>
<entry key="140" type="xbyte" value="97"/>
<entry key="141" type="xbyte" value="46"/>
<entry key="142" type="xbyte" value="108"/>
<entry key="143" type="xbyte" value="97"/>
<entry key="144" type="xbyte" value="110"/>
<entry key="145" type="xbyte" value="103"/>
<entry key="146" type="xbyte" value="46"/>
<entry key="147" type="xbyte" value="78"/>
<entry key="148" type="xbyte" value="117"/>
<entry key="149" type="xbyte" value="109"/>
<entry key="150" type="xbyte" value="98"/>
<entry key="151" type="xbyte" value="101"/>
<entry key="152" type="xbyte" value="114"/>
<entry key="153" type="xbyte" value="-122"/>
<entry key="154" type="xbyte" value="-84"/>
<entry key="155" type="xbyte" value="-107"/>
<entry key="156" type="xbyte" value="29"/>
<entry key="157" type="xbyte" value="11"/>
<entry key="158" type="xbyte" value="-108"/>
<entry key="159" type="xbyte" value="-32"/>
<entry key="160" type="xbyte" value="-117"/>
<entry key="161" type="xbyte" value="2"/>
<entry key="162" type="xbyte" value="0"/>
<entry key="163" type="xbyte" value="0"/>
<entry key="164" type="xbyte" value="120"/>
<entry key="165" type="xbyte" value="112"/>
<entry key="166" type="xbyte" value="0"/>
<entry key="167" type="xbyte" value="0"/>
<entry key="168" type="xbyte" value="0"/>
<entry key="169" type="xbyte" value="0"/>
<entry key="170" type="xbyte" value="0"/>
<entry key="171" type="xbyte" value="0"/>
<entry key="172" type="xbyte" value="0"/>
<entry key="173" type="xbyte" value="0"/>
<entry key="174" type="xbyte" value="116"/>
<entry key="175" type="xbyte" value="0"/>
<entry key="176" type="xbyte" value="5"/>
<entry key="177" type="xbyte" value="112"/>
<entry key="178" type="xbyte" value="114"/>
<entry key="179" type="xbyte" value="105"/>
<entry key="180" type="xbyte" value="99"/>
<entry key="181" type="xbyte" value="101"/>
<entry key="182" type="xbyte" value="115"/>
<entry key="183" type="xbyte" value="113"/>
<entry key="184" type="xbyte" value="0"/>
<entry key="185" type="xbyte" value="126"/>
<entry key="186" type="xbyte" value="0"/>
<entry key="187" type="xbyte" value="3"/>
<entry key="188" type="xbyte" value="64"/>
<entry key="189" type="xbyte" value="-49"/>
<entry key="190" type="xbyte" value="64"/>
<entry key="191" type="xbyte" value="0"/>
<entry key="192" type="xbyte" value="0"/>
<entry key="193" type="xbyte" value="0"/>
<entry key="194" type="xbyte" value="0"/>
<entry key="195" type="xbyte" value="0"/>
<entry key="196" type="xbyte" value="116"/>
<entry key="197" type="xbyte" value="0"/>
<entry key="198" type="xbyte" value="3"/>
<entry key="199" type="xbyte" value="97"/>
<entry key="200" type="xbyte" value="103"/>
<entry key="201" type="xbyte" value="101"/>
<entry key="202" type="xbyte" value="115"/>
<entry key="203" type="xbyte" value="113"/>
<entry key="204" type="xbyte" value="0"/>
<entry key="205" type="xbyte" value="126"/>
<entry key="206" type="xbyte" value="0"/>
<entry key="207" type="xbyte" value="3"/>
<entry key="208" type="xbyte" value="0"/>
<entry key="209" type="xbyte" value="0"/>
<entry key="210" type="xbyte" value="0"/>
<entry key="211" type="xbyte" value="0"/>
<entry key="212" type="xbyte" value="0"/>
<entry key="213" type="xbyte" value="0"/>
<entry key="214" type="xbyte" value="0"/>
<entry key="215" type="xbyte" value="0"/>
<entry key="216" type="xbyte" value="116"/>
<entry key="217" type="xbyte" value="0"/>
<entry key="218" type="xbyte" value="7"/>
<entry key="219" type="xbyte" value="109"/>
<entry key="220" type="xbyte" value="105"/>
<entry key="221" type="xbyte" value="108"/>
<entry key="222" type="xbyte" value="101"/>
<entry key="223" type="xbyte" value="97"/>
<entry key="224" type="xbyte" value="103"/>
<entry key="225" type="xbyte" value="101"/>
<entry key="226" type="xbyte" value="115"/>
<entry key="227" type="xbyte" value="113"/>
<entry key="228" type="xbyte" value="0"/>
<entry key="229" type="xbyte" value="126"/>
<entry key="230" type="xbyte" value="0"/>
<entry key="231" type="xbyte" value="3"/>
<entry key="232" type="xbyte" value="0"/>
<entry key="233" type="xbyte" value="0"/>
<entry key="234" type="xbyte" value="0"/>
<entry key="235" type="xbyte" value="0"/>
<entry key="236" type="xbyte" value="0"/>
<entry key="237" type="xbyte" value="0"/>
<entry key="238" type="xbyte" value="0"/>
<entry key="239" type="xbyte" value="0"/>
<entry key="240" type="xbyte" value="120"/>
</config>
<config key="range">
<entry key="array-size" type="xint" value="236"/>
<entry key="0" type="xbyte" value="-84"/>
<entry key="1" type="xbyte" value="-19"/>
<entry key="2" type="xbyte" value="0"/>
<entry key="3" type="xbyte" value="5"/>
<entry key="4" type="xbyte" value="115"/>
<entry key="5" type="xbyte" value="114"/>
<entry key="6" type="xbyte" value="0"/>
<entry key="7" type="xbyte" value="17"/>
<entry key="8" type="xbyte" value="106"/>
<entry key="9" type="xbyte" value="97"/>
<entry key="10" type="xbyte" value="118"/>
<entry key="11" type="xbyte" value="97"/>
<entry key="12" type="xbyte" value="46"/>
<entry key="13" type="xbyte" value="117"/>
<entry key="14" type="xbyte" value="116"/>
<entry key="15" type="xbyte" value="105"/>
<entry key="16" type="xbyte" value="108"/>
<entry key="17" type="xbyte" value="46"/>
<entry key="18" type="xbyte" value="72"/>
<entry key="19" type="xbyte" value="97"/>
<entry key="20" type="xbyte" value="115"/>
<entry key="21" type="xbyte" value="104"/>
<entry key="22" type="xbyte" value="77"/>
<entry key="23" type="xbyte" value="97"/>
<entry key="24" type="xbyte" value="112"/>
<entry key="25" type="xbyte" value="5"/>
<entry key="26" type="xbyte" value="7"/>
<entry key="27" type="xbyte" value="-38"/>
<entry key="28" type="xbyte" value="-63"/>
<entry key="29" type="xbyte" value="-61"/>
<entry key="30" type="xbyte" value="22"/>
<entry key="31" type="xbyte" value="96"/>
<entry key="32" type="xbyte" value="-47"/>
<entry key="33" type="xbyte" value="3"/>
<entry key="34" type="xbyte" value="0"/>
<entry key="35" type="xbyte" value="2"/>
<entry key="36" type="xbyte" value="70"/>
<entry key="37" type="xbyte" value="0"/>
<entry key="38" type="xbyte" value="10"/>
<entry key="39" type="xbyte" value="108"/>
<entry key="40" type="xbyte" value="111"/>
<entry key="41" type="xbyte" value="97"/>
<entry key="42" type="xbyte" value="100"/>
<entry key="43" type="xbyte" value="70"/>
<entry key="44" type="xbyte" value="97"/>
<entry key="45" type="xbyte" value="99"/>
<entry key="46" type="xbyte" value="116"/>
<entry key="47" type="xbyte" value="111"/>
<entry key="48" type="xbyte" value="114"/>
<entry key="49" type="xbyte" value="73"/>
<entry key="50" type="xbyte" value="0"/>
<entry key="51" type="xbyte" value="9"/>
<entry key="52" type="xbyte" value="116"/>
<entry key="53" type="xbyte" value="104"/>
<entry key="54" type="xbyte" value="114"/>
<entry key="55" type="xbyte" value="101"/>
<entry key="56" type="xbyte" value="115"/>
<entry key="57" type="xbyte" value="104"/>
<entry key="58" type="xbyte" value="111"/>
<entry key="59" type="xbyte" value="108"/>
<entry key="60" type="xbyte" value="100"/>
<entry key="61" type="xbyte" value="120"/>
<entry key="62" type="xbyte" value="112"/>
<entry key="63" type="xbyte" value="63"/>
<entry key="64" type="xbyte" value="64"/>
<entry key="65" type="xbyte" value="0"/>
<entry key="66" type="xbyte" value="0"/>
<entry key="67" type="xbyte" value="0"/>
<entry key="68" type="xbyte" value="0"/>
<entry key="69" type="xbyte" value="0"/>
<entry key="70" type="xbyte" value="12"/>
<entry key="71" type="xbyte" value="119"/>
<entry key="72" type="xbyte" value="8"/>
<entry key="73" type="xbyte" value="0"/>
<entry key="74" type="xbyte" value="0"/>
<entry key="75" type="xbyte" value="0"/>
<entry key="76" type="xbyte" value="16"/>
<entry key="77" type="xbyte" value="0"/>
<entry key="78" type="xbyte" value="0"/>
<entry key="79" type="xbyte" value="0"/>
<entry key="80" type="xbyte" value="4"/>
<entry key="81" type="xbyte" value="116"/>
<entry key="82" type="xbyte" value="0"/>
<entry key="83" type="xbyte" value="10"/>
<entry key="84" type="xbyte" value="104"/>
<entry key="85" type="xbyte" value="111"/>
<entry key="86" type="xbyte" value="114"/>
<entry key="87" type="xbyte" value="115"/>
<entry key="88" type="xbyte" value="101"/>
<entry key="89" type="xbyte" value="112"/>
<entry key="90" type="xbyte" value="111"/>
<entry key="91" type="xbyte" value="119"/>
<entry key="92" type="xbyte" value="101"/>
<entry key="93" type="xbyte" value="114"/>
<entry key="94" type="xbyte" value="117"/>
<entry key="95" type="xbyte" value="114"/>
<entry key="96" type="xbyte" value="0"/>
<entry key="97" type="xbyte" value="2"/>
<entry key="98" type="xbyte" value="91"/>
<entry key="99" type="xbyte" value="68"/>
<entry key="100" type="xbyte" value="62"/>
<entry key="101" type="xbyte" value="-90"/>
<entry key="102" type="xbyte" value="-116"/>
<entry key="103" type="xbyte" value="20"/>
<entry key="104" type="xbyte" value="-85"/>
<entry key="105" type="xbyte" value="99"/>
<entry key="106" type="xbyte" value="90"/>
<entry key="107" type="xbyte" value="30"/>
<entry key="108" type="xbyte" value="2"/>
<entry key="109" type="xbyte" value="0"/>
<entry key="110" type="xbyte" value="0"/>
<entry key="111" type="xbyte" value="120"/>
<entry key="112" type="xbyte" value="112"/>
<entry key="113" type="xbyte" value="0"/>
<entry key="114" type="xbyte" value="0"/>
<entry key="115" type="xbyte" value="0"/>
<entry key="116" type="xbyte" value="2"/>
<entry key="117" type="xbyte" value="64"/>
<entry key="118" type="xbyte" value="89"/>
<entry key="119" type="xbyte" value="0"/>
<entry key="120" type="xbyte" value="0"/>
<entry key="121" type="xbyte" value="0"/>
<entry key="122" type="xbyte" value="0"/>
<entry key="123" type="xbyte" value="0"/>
<entry key="124" type="xbyte" value="0"/>
<entry key="125" type="xbyte" value="64"/>
<entry key="126" type="xbyte" value="110"/>
<entry key="127" type="xbyte" value="0"/>
<entry key="128" type="xbyte" value="0"/>
<entry key="129" type="xbyte" value="0"/>
<entry key="130" type="xbyte" value="0"/>
<entry key="131" type="xbyte" value="0"/>
<entry key="132" type="xbyte" value="0"/>
<entry key="133" type="xbyte" value="116"/>
<entry key="134" type="xbyte" value="0"/>
<entry key="135" type="xbyte" value="5"/>
<entry key="136" type="xbyte" value="112"/>
<entry key="137" type="xbyte" value="114"/>
<entry key="138" type="xbyte" value="105"/>
<entry key="139" type="xbyte" value="99"/>
<entry key="140" type="xbyte" value="101"/>
<entry key="141" type="xbyte" value="117"/>
<entry key="142" type="xbyte" value="113"/>
<entry key="143" type="xbyte" value="0"/>
<entry key="144" type="xbyte" value="126"/>
<entry key="145" type="xbyte" value="0"/>
<entry key="146" type="xbyte" value="3"/>
<entry key="147" type="xbyte" value="0"/>
<entry key="148" type="xbyte" value="0"/>
<entry key="149" type="xbyte" value="0"/>
<entry key="150" type="xbyte" value="2"/>
<entry key="151" type="xbyte" value="0"/>
<entry key="152" type="xbyte" value="0"/>
<entry key="153" type="xbyte" value="0"/>
<entry key="154" type="xbyte" value="0"/>
<entry key="155" type="xbyte" value="0"/>
<entry key="156" type="xbyte" value="0"/>
<entry key="157" type="xbyte" value="0"/>
<entry key="158" type="xbyte" value="0"/>
<entry key="159" type="xbyte" value="0"/>
<entry key="160" type="xbyte" value="0"/>
<entry key="161" type="xbyte" value="0"/>
<entry key="162" type="xbyte" value="0"/>
<entry key="163" type="xbyte" value="0"/>
<entry key="164" type="xbyte" value="0"/>
<entry key="165" type="xbyte" value="0"/>
<entry key="166" type="xbyte" value="0"/>
<entry key="167" type="xbyte" value="116"/>
<entry key="168" type="xbyte" value="0"/>
<entry key="169" type="xbyte" value="3"/>
<entry key="170" type="xbyte" value="97"/>
<entry key="171" type="xbyte" value="103"/>
<entry key="172" type="xbyte" value="101"/>
<entry key="173" type="xbyte" value="117"/>
<entry key="174" type="xbyte" value="113"/>
<entry key="175" type="xbyte" value="0"/>
<entry key="176" type="xbyte" value="126"/>
<entry key="177" type="xbyte" value="0"/>
<entry key="178" type="xbyte" value="3"/>
<entry key="179" type="xbyte" value="0"/>
<entry key="180" type="xbyte" value="0"/>
<entry key="181" type="xbyte" value="0"/>
<entry key="182" type="xbyte" value="2"/>
<entry key="183" type="xbyte" value="0"/>
<entry key="184" type="xbyte" value="0"/>
<entry key="185" type="xbyte" value="0"/>
<entry key="186" type="xbyte" value="0"/>
<entry key="187" type="xbyte" value="0"/>
<entry key="188" type="xbyte" value="0"/>
<entry key="189" type="xbyte" value="0"/>
<entry key="190" type="xbyte" value="0"/>
<entry key="191" type="xbyte" value="0"/>
<entry key="192" type="xbyte" value="0"/>
<entry key="193" type="xbyte" value="0"/>
<entry key="194" type="xbyte" value="0"/>
<entry key="195" type="xbyte" value="0"/>
<entry key="196" type="xbyte" value="0"/>
<entry key="197" type="xbyte" value="0"/>
<entry key="198" type="xbyte" value="0"/>
<entry key="199" type="xbyte" value="116"/>
<entry key="200" type="xbyte" value="0"/>
<entry key="201" type="xbyte" value="7"/>
<entry key="202" type="xbyte" value="109"/>
<entry key="203" type="xbyte" value="105"/>
<entry key="204" type="xbyte" value="108"/>
<entry key="205" type="xbyte" value="101"/>
<entry key="206" type="xbyte" value="97"/>
<entry key="207" type="xbyte" value="103"/>
<entry key="208" type="xbyte" value="101"/>
<entry key="209" type="xbyte" value="117"/>
<entry key="210" type="xbyte" value="113"/>
<entry key="211" type="xbyte" value="0"/>
<entry key="212" type="xbyte" value="126"/>
<entry key="213" type="xbyte" value="0"/>
<entry key="214" type="xbyte" value="3"/>
<entry key="215" type="xbyte" value="0"/>
<entry key="216" type="xbyte" value="0"/>
<entry key="217" type="xbyte" value="0"/>
<entry key="218" type="xbyte" value="2"/>
<entry key="219" type="xbyte" value="0"/>
<entry key="220" type="xbyte" value="0"/>
<entry key="221" type="xbyte" value="0"/>
<entry key="222" type="xbyte" value="0"/>
<entry key="223" type="xbyte" value="0"/>
<entry key="224" type="xbyte" value="0"/>
<entry key="225" type="xbyte" value="0"/>
<entry key="226" type="xbyte" value="0"/>
<entry key="227" type="xbyte" value="0"/>
<entry key="228" type="xbyte" value="0"/>
<entry key="229" type="xbyte" value="0"/>
<entry key="230" type="xbyte" value="0"/>
<entry key="231" type="xbyte" value="0"/>
<entry key="232" type="xbyte" value="0"/>
<entry key="233" type="xbyte" value="0"/>
<entry key="234" type="xbyte" value="0"/>
<entry key="235" type="xbyte" value="120"/>
</config>
<config key="option">
<entry key="array-size" type="xint" value="148"/>
<entry key="0" type="xbyte" value="-84"/>
<entry key="1" type="xbyte" value="-19"/>
<entry key="2" type="xbyte" value="0"/>
<entry key="3" type="xbyte" value="5"/>
<entry key="4" type="xbyte" value="115"/>
<entry key="5" type="xbyte" value="114"/>
<entry key="6" type="xbyte" value="0"/>
<entry key="7" type="xbyte" value="17"/>
<entry key="8" type="xbyte" value="106"/>
<entry key="9" type="xbyte" value="97"/>
<entry key="10" type="xbyte" value="118"/>
<entry key="11" type="xbyte" value="97"/>
<entry key="12" type="xbyte" value="46"/>
<entry key="13" type="xbyte" value="117"/>
<entry key="14" type="xbyte" value="116"/>
<entry key="15" type="xbyte" value="105"/>
<entry key="16" type="xbyte" value="108"/>
<entry key="17" type="xbyte" value="46"/>
<entry key="18" type="xbyte" value="72"/>
<entry key="19" type="xbyte" value="97"/>
<entry key="20" type="xbyte" value="115"/>
<entry key="21" type="xbyte" value="104"/>
<entry key="22" type="xbyte" value="77"/>
<entry key="23" type="xbyte" value="97"/>
<entry key="24" type="xbyte" value="112"/>
<entry key="25" type="xbyte" value="5"/>
<entry key="26" type="xbyte" value="7"/>
<entry key="27" type="xbyte" value="-38"/>
<entry key="28" type="xbyte" value="-63"/>
<entry key="29" type="xbyte" value="-61"/>
<entry key="30" type="xbyte" value="22"/>
<entry key="31" type="xbyte" value="96"/>
<entry key="32" type="xbyte" value="-47"/>
<entry key="33" type="xbyte" value="3"/>
<entry key="34" type="xbyte" value="0"/>
<entry key="35" type="xbyte" value="2"/>
<entry key="36" type="xbyte" value="70"/>
<entry key="37" type="xbyte" value="0"/>
<entry key="38" type="xbyte" value="10"/>
<entry key="39" type="xbyte" value="108"/>
<entry key="40" type="xbyte" value="111"/>
<entry key="41" type="xbyte" value="97"/>
<entry key="42" type="xbyte" value="100"/>
<entry key="43" type="xbyte" value="70"/>
<entry key="44" type="xbyte" value="97"/>
<entry key="45" type="xbyte" value="99"/>
<entry key="46" type="xbyte" value="116"/>
<entry key="47" type="xbyte" value="111"/>
<entry key="48" type="xbyte" value="114"/>
<entry key="49" type="xbyte" value="73"/>
<entry key="50" type="xbyte" value="0"/>
<entry key="51" type="xbyte" value="9"/>
<entry key="52" type="xbyte" value="116"/>
<entry key="53" type="xbyte" value="104"/>
<entry key="54" type="xbyte" value="114"/>
<entry key="55" type="xbyte" value="101"/>
<entry key="56" type="xbyte" value="115"/>
<entry key="57" type="xbyte" value="104"/>
<entry key="58" type="xbyte" value="111"/>
<entry key="59" type="xbyte" value="108"/>
<entry key="60" type="xbyte" value="100"/>
<entry key="61" type="xbyte" value="120"/>
<entry key="62" type="xbyte" value="112"/>
<entry key="63" type="xbyte" value="63"/>
<entry key="64" type="xbyte" value="64"/>
<entry key="65" type="xbyte" value="0"/>
<entry key="66" type="xbyte" value="0"/>
<entry key="67" type="xbyte" value="0"/>
<entry key="68" type="xbyte" value="0"/>
<entry key="69" type="xbyte" value="0"/>
<entry key="70" type="xbyte" value="12"/>
<entry key="71" type="xbyte" value="119"/>
<entry key="72" type="xbyte" value="8"/>
<entry key="73" type="xbyte" value="0"/>
<entry key="74" type="xbyte" value="0"/>
<entry key="75" type="xbyte" value="0"/>
<entry key="76" type="xbyte" value="16"/>
<entry key="77" type="xbyte" value="0"/>
<entry key="78" type="xbyte" value="0"/>
<entry key="79" type="xbyte" value="0"/>
<entry key="80" type="xbyte" value="4"/>
<entry key="81" type="xbyte" value="116"/>
<entry key="82" type="xbyte" value="0"/>
<entry key="83" type="xbyte" value="10"/>
<entry key="84" type="xbyte" value="104"/>
<entry key="85" type="xbyte" value="111"/>
<entry key="86" type="xbyte" value="114"/>
<entry key="87" type="xbyte" value="115"/>
<entry key="88" type="xbyte" value="101"/>
<entry key="89" type="xbyte" value="112"/>
<entry key="90" type="xbyte" value="111"/>
<entry key="91" type="xbyte" value="119"/>
<entry key="92" type="xbyte" value="101"/>
<entry key="93" type="xbyte" value="114"/>
<entry key="94" type="xbyte" value="116"/>
<entry key="95" type="xbyte" value="0"/>
<entry key="96" type="xbyte" value="5"/>
<entry key="97" type="xbyte" value="82"/>
<entry key="98" type="xbyte" value="97"/>
<entry key="99" type="xbyte" value="110"/>
<entry key="100" type="xbyte" value="103"/>
<entry key="101" type="xbyte" value="101"/>
<entry key="102" type="xbyte" value="116"/>
<entry key="103" type="xbyte" value="0"/>
<entry key="104" type="xbyte" value="5"/>
<entry key="105" type="xbyte" value="112"/>
<entry key="106" type="xbyte" value="114"/>
<entry key="107" type="xbyte" value="105"/>
<entry key="108" type="xbyte" value="99"/>
<entry key="109" type="xbyte" value="101"/>
<entry key="110" type="xbyte" value="116"/>
<entry key="111" type="xbyte" value="0"/>
<entry key="112" type="xbyte" value="6"/>
<entry key="113" type="xbyte" value="83"/>
<entry key="114" type="xbyte" value="105"/>
<entry key="115" type="xbyte" value="110"/>
<entry key="116" type="xbyte" value="103"/>
<entry key="117" type="xbyte" value="108"/>
<entry key="118" type="xbyte" value="101"/>
<entry key="119" type="xbyte" value="116"/>
<entry key="120" type="xbyte" value="0"/>
<entry key="121" type="xbyte" value="3"/>
<entry key="122" type="xbyte" value="97"/>
<entry key="123" type="xbyte" value="103"/>
<entry key="124" type="xbyte" value="101"/>
<entry key="125" type="xbyte" value="116"/>
<entry key="126" type="xbyte" value="0"/>
<entry key="127" type="xbyte" value="4"/>
<entry key="128" type="xbyte" value="78"/>
<entry key="129" type="xbyte" value="111"/>
<entry key="130" type="xbyte" value="110"/>
<entry key="131" type="xbyte" value="101"/>
<entry key="132" type="xbyte" value="116"/>
<entry key="133" type="xbyte" value="0"/>
<entry key="134" type="xbyte" value="7"/>
<entry key="135" type="xbyte" value="109"/>
<entry key="136" type="xbyte" value="105"/>
<entry key="137" type="xbyte" value="108"/>
<entry key="138" type="xbyte" value="101"/>
<entry key="139" type="xbyte" value="97"/>
<entry key="140" type="xbyte" value="103"/>
<entry key="141" type="xbyte" value="101"/>
<entry key="142" type="xbyte" value="113"/>
<entry key="143" type="xbyte" value="0"/>
<entry key="144" type="xbyte" value="126"/>
<entry key="145" type="xbyte" value="0"/>
<entry key="146" type="xbyte" value="7"/>
<entry key="147" type="xbyte" value="120"/>
</config>
<entry key="useUpperBound" type="xboolean" value="true"/>
<entry key="size" type="xint" value="4"/>
<entry key="weight" type="xdouble" value="0.5"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.repskyline.RepresentativeSkylineNodeFactory"/>
<entry key="node-name" type="xstring" value="RepresentativeSkyline"/>
<entry key="node-bundle-name" type="xstring" value="RepresentativeSkyline-Node extension for KNIME Workbench"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime"/>
<entry key="node-bundle-vendor" type="xstring" value="Stefan Wohlfart"/>
<entry key="node-bundle-version" type="xstring" value="1.0.0"/>
<entry key="node-feature-name" type="xstring" isnull="true" value=""/>
<entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
<entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
<entry key="node-feature-version" type="xstring" value="0.0.0"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="RepresentativeSkyline"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 4, Cols: 14"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
<config key="port_2">
<entry key="index" type="xint" value="2"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 27, Cols: 14"/>
<entry key="port_dir_location" type="xstring" value="port_2"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="206c037f-9dec-421e-b1a3-9a82b766d509"/>
</config>
</config>
