<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="BugfixRelease"
         name="BugfixRelease"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.knime.build.tools.BugfixRelease">
         </run>
      </application>
   </extension>
   <extension
         id="SetVersion"
         name="SetVersion"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.knime.build.tools.SetVersion">
         </run>
      </application>
   </extension>
   <extension
         id="BuildDate"
         name="BuildDate"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.knime.build.tools.SetBuildDate">
         </run>
      </application>
   </extension>
   <extension
         id="VersionChecker"
         name="VersionChecker"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.knime.build.tools.VersionChecker">
         </run>
      </application>
   </extension>
   <extension
         id="UpdateCopyrightYear"
         name="UpdateCopyrightYear"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.knime.build.tools.UpdateCopyrightYear">
         </run>
      </application>
   </extension>
   <extension
         id="UpdateCopyrightHeader"
         name="UpdateCopyrightHeader"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.knime.build.tools.UpdateCopyrightHeader">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.knime.build.tools.BugfixRelease"
            name="KNIME Build Tools Product">
      </product>
   </extension>
</plugin>
